<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= viewUser.username %> | Odd-Blog</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/users//profile.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <% include ../partials/nav %>
    <main data-id="<%= viewUser._id %>">
      <div class="profile_background" style="background-image: url(http://cdn.studiodaily.com/wp-content/uploads/2016/08/star-trek-beyond.jpg);">

      </div>
      <div class="profile_details">
        <figure class="profile_details__image">
          <img src="<%= viewUser.profile %>" alt="<%= viewUser.username %>'s Profile Image'">
        </figure>
        <div class="profile_details__content">
          <div class="title">
            <h1 class=""><%= viewUser.primary_name %><%= viewUser.other_names.length > 0 ? ` ${viewUser.other_names.join(' ')} ` : ' ' %><%= viewUser.secondary_name %></h1>
          </div>
          <h2>@ <%= viewUser.username %></h2>
          <div class="bio">
            <p class="profile_details__bio"><%- viewUser.bio.length > 0 ? viewUser.bio : 'No Biography Supplied' %></p>
          </div>
        </div>
      </div>
      <hr />
      <!-- <h2><%= viewUser.primary_name %>'s Recent Posts</h2> -->
      <h2>Recent Posts</h2>
      <div class="posts">
        <% viewUser.posts.forEach(each => { %>
          <% include ../partials/post %>
        <% }) %>
      </div>
    </main>
  </body>
  <script type="text/javascript" src="/js/users/show.js"></script>
</html>
