<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Edit Post | Odd-Blog</title>
    <link rel="stylesheet" href="/css/master.css">
    <link rel="stylesheet" href="/css/posts/create.css">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <% include ../partials/nav %>
    <form action="/posts/<%= data._id %>/edit?_method=PUT" method="POST" class="form" data-id="<%= data._id %>">
      <div class="form_body">
        <div class="header_image">
          <div class="header_image__inputs">
            <input type="text" name="header_image[src]" placeholder="Header Image Link" class="header_image--src" value="<%= data.header_image.src %>" />
            <input type="text" name="header_image[caption]" placeholder="Image Caption" class="header_image--caption" value="<%= data.header_image.caption %>" />
            <input type="text" name="header_image[alt]" placeholder="Alt text for Screen Readers" class="header_image--alt" value="<%= data.header_image.alt %>" />
          </div>
          <img src="<%= data.header_image.src %>" alt="Default image" class="header_image--preview" />
        </div>
        <div class="title">
          <input type="text" name="title" placeholder="The title of the post, will default to 'Blog Post' if left blank." value="<%= data.title %>" />
        </div>
        <div class="subtitle">
          <textarea name="subtitle" placeholder="A subtitle for the post, leave blank to ommit."><%= data.subtitle %></textarea>
        </div>
        <div class="tags">
          <input type="text" name="tags" placeholder="Tags, comma seperated (e.g 'design, london, something else')" value="<%= data.tags.join(', ') %>">
        </div>

        <% data.inputs.forEach((each, idx) => { %>
          <% if (each.data_type == "paragraph") { %>
            <div class="input text_input input_<%= idx %> <%= each.align %>" data-type="paragraph">
          <% } else if (each.data_type == "image") { %>
            <div class="input image_input input_<%= idx %> <%= each.align %>" data-type="image">
          <% } else if (each.data_type == "quote") { %>
            <div class="input quote_input input_<%= idx %> <%= each.align %>" data-type="image">
          <% } else { %>
            <div class="input input_<%= idx %> <%= each.align %>">
          <% } %>
            <div class="input_control">
              <div class="control_drag control_drag_<%= idx %>" data-drag="drag_<%= idx %>">☰</div>
              <p class="control_text"><%= each.data_type.substring(0,1).toUpperCase() %><%= each.data_type.substring(1) %> <%= idx %> Input</p>
              <button class="control_delete">✖</button>
            </div>
            <input name="inputs[<%= idx %>][data_type]" value="<%= each.data_type %>" hidden />

            <ul class="align">
              <li title="Full sized" data-align="large" class="<%= each.align == 'large' ? 'align_active' : '' %>">
                <label>
                  <div class="align_option__icon">
                    <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253.93 77.87">
                      <g>
                        <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_3" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_4" x="25.35" y="17.67" width="220.35" height="42.52" rx="5.67" ry="5.67"></rect>
                      </g>
                    </svg>
                  </div>
                  <% if (each.align == 'large') { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="large" class="align_radio" checked="true" />
                  <% } else { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="large" class="align_radio" />
                  <% } %>
                </label>
              </li>
              <li title="Medium sized (spanning two columns), justified Left." data-align="medium_left"  class="<%= each.align == 'medium_left' ? 'align_active' : '' %>">
                <label>
                  <div class="align_option__icon">
                    <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253.93 77.87">
                      <g>
                        <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_3" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_4" x="25.35" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      </g>
                    </svg>
                  </div>
                  <% if (each.align == 'medium_left') { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="medium_left" class="align_radio" checked="true">
                  <% } else { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="medium_left" class="align_radio">
                  <% } %>
                </label>
              </li>
              <li title="Medium sized (spanning two columns), justified Right." data-align="medium_right" class="<%= each.align == 'medium_right' ? 'align_active' : '' %>">
                <label>
                  <div class="align_option__icon">
                    <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253.93 77.87">
                      <g>
                        <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="100.09" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="196.68" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_3" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_4" x="121.94" y="17.67" width="123.76" height="42.52" rx="5.67" ry="5.67"></rect>
                      </g>
                    </svg>
                  </div>
                  <% if (each.align == 'medium_right') { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="medium_right" class="align_radio" checked="true">
                  <% } else { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="medium_right" class="align_radio">
                  <% } %>
                </label>
              </li>
              <li title="Small sized (just one column), justified Left." data-align="small_left" class="<%= each.align == 'small_left' ? 'small_left' : '' %>">
                <label>
                  <div class="align_option__icon">
                    <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253.93 77.87">
                      <g>
                        <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_3" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_4" x="16.79" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      </g>
                    </svg>
                  </div>
                  <% if (each.align == 'small_left') { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="small_left" class="align_radio" checked="true">
                  <% } else { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="small_left" class="align_radio">
                  <% } %>
                </label>
              </li>
              <li title="Small sized (just one column), justified in the Middle." data-align="small_center" class="<%= each.align == 'small_center' ? 'align_active' : '' %>">
                <label>
                  <div class="align_option__icon">
                    <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253.93 77.87">
                      <g>
                        <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_3" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_4" x="112.78" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      </g>
                    </svg>
                  </div>
                  <% if (each.align == 'small_center') { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="small_center" class="align_radio" checked="true">
                  <% } else { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="small_center" class="align_radio">
                  <% } %>
                </label>
              </li>
              <li title="Small sized (just one column), justified Right." data-align="small_right" class="<%= each.align == 'small_right' ? 'align_active' : '' %>">
                <label>
                  <div class="align_option__icon">
                    <svg class="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 253.93 77.87">
                      <g>
                        <rect class="align_icon_1" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="3.5" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="99.49" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_1" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_2" x="196.08" y="3.5" width="70.87" height="70.87" rx="5.67" ry="5.67"></rect>
                      </g>
                      <g>
                        <rect class="align_icon_3" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                        <rect class="align_icon_4" x="209.36" y="17.67" width="44.29" height="42.52" rx="5.67" ry="5.67"></rect>
                      </g>
                    </svg>
                  </div>
                  <% if (each.align == 'small_right') { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="small_right" class="align_radio" checked="true">
                  <% } else { %>
                    <input type="radio" name="inputs[<%= idx %>][align]" value="small_right" class="align_radio">
                  <% } %>
                </label>
              </li>
            </ul>

            <input placeholder="Subheading, leave blank to omit." name="inputs[<%= idx %>][subhead]" class="subhead" value="<%= each.subhead %>" />
            <% if (each.data_type == "paragraph" || each.data_type == "code") { %>
              <textarea name="inputs[<%= idx %>][text]" placeholder="body"><%= each.text %></textarea>
            <% } else if (each.data_type == "image") { %>
              <div class="image_input__container">
                <div class="image_input__group">
                  <input name="inputs[<%= idx %>][src]" class="image_input--src" value="<%= each.src %>" placeholder="Image Link" title="Copy in the link of the image, you should see a preview appear if the link is ok." />
                  <input name="inputs[<%= idx %>][caption]" class="image_input--caption" value="<%= each.caption %>" placeholder="Caption" title="An optional caption to go with the image.">
                  <input name="inputs[<%= idx %>][alt]" class="image_input--alt" value="<%= each.alt %>" placeholder="Alt-text (for Screen Readers)" title="Add a description of the image. This will be shown if the image breaks and is also what screen-readers will 'see'.">
                </div>
                <div class="image_input__preview">
                  <img src="<%= each.src %>" alt="<%= each.alt %>" title="Image Preview" class="image_input__preview--img image_input__preview_<%= idx %>--img" />
                </div>
              </div>
            <% } else if (each.data_type == "quote") { %>
              <div class="quote_input__container">
                <input type="text" name="inputs[<%= idx %>][cite]" placeholder="Citation Link" />
                <textarea name="inputs[<%= idx %>][text]" placeholder="Quote Text"></textarea>
                <input type="text" name="inputs[<%= idx %>][author]" placeholder="Author" />
              </div>
            <% } %>
          </div>
        <% }) %>

      </div>
      <div class="new_buttons">
        <button class="new new_paragraph" name="new_paragraph">New Paragraph</button>
        <button class="new new_image" name="new_image">New Image</button>
        <button class="new new_quote" name="new_quote">New Quote</button>
        <button class="new new_code" name="new_code">New Code Snippet</button>
      </div>
      <div class="form_submit">
        <input type="checkbox" name="page" id="page_check" />

        <!-- <button class="dev_toggle">Dev Mode: OFF</button>
        <button class="sample_data">Sample Data</button> -->

        <button class="save">Save</button>
        <button class="submit">Submit</button>
        <div class="update_note">
          <textarea name="note" placeholder="Add an edit note" rows="4"></textarea>
        </div>
      </div>
    </form>
  </body>
  <!-- <script type="text/javascript" src="/js/master.js"></script> -->
  <!-- <script type="text/javascript" src="/js/name.js"></script> -->
  <script type="text/javascript" src="/js/posts/edit.js"></script>
</html>
