<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Posts | Odd-Blog</title>
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="main">
      <% if (user) { %>
        <a href="/posts/new">Create a new Post</a>
      <% } %>
      <h1 class="title">View all posts:</h1>
      <div class="posts">
        <% posts.forEach(each => { %>
          <div class="post experimental">
            <% if (each.header_image.src && /\w/gi.test(each.header_image.src)) { %>
              <!-- <a href="/posts/<%= each.year %>/<%= each.month %>/<%= each.day %>/<%= each.title %>" class="image"> -->
              <a href="/posts/<%= each._id %>" class="image">
                <img src="<%= each.header_image.src %>" alt="<%= each.header_image.alt %>" class="header_image" title="<%= each.header_image.caption %>" />
              </a>
            <% } %>
            <div class="details">
              <div class="details_primary">
                <!-- <h3><a href="/posts/<%= each.year %>/<%= each.month %>/<%= each.day %>/<%= each.title %>"><%= each.title %></a></h3> -->
                <h3><a href="/posts/<%= each._id %>"><%= each.title %></a></h3>
                <% if (each.subtitle.length > 150) { %>
                  <p><%= each.subtitle.substring(0,150) %>...</p>
                <% } else { %>
                  <p><%= each.subtitle %></p>
                <% } %>
                <p class="read_button"><a href="/posts/<%= each._id %>">Read Post <i class="fas fa-chevron-right"></i></a></p>
              </div>
              <div class="details_meta">
                <h4 class="details_author">By <a href="/user/<%= each.author.username %>"><%= /\w/gi.test(each.author.displayName) ? each.author.displayName : each.author.username %></a></h4>
                <strong><%= new Date(each.created).toLocaleDateString() %></strong>
                <p class="details_read_time"><em>Read Time: <%= each.word_count < 265 ? '1 min' : Math.ceil(each.word_count/265) > 1 ? Math.ceil(each.word_count/265)+' mins' : Math.ceil(each.word_count/265)+' min' %></em></p>
              </div>
              <% if (user && each.author.id.equals(user._id)) { %>
                <div class="modify">
                  <a href="/posts/<%= each._id %>/edit" class="icon edit_icon" title="Admin: Edit Post.">
                    <svg data-name="editIcon_Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 145.84 145.84">
                      <path class="editIcon-1" d="M595.28,751.18" transform="translate(-500.6 -512.96)"></path>
                      <polyline class="editIcon-2" points="58.65 127.29 45.09 140.84 5 140.84 5 100.76 29.68 76.07"></polyline>
                      <path class="editIcon-2" d="M545.69,653.81l91.62-91.62a14.21,14.21,0,0,0,0-20l-20-20a14.21,14.21,0,0,0-20,0L505.6,613.72" transform="translate(-500.6 -512.96)"></path>
                      <line class="editIcon-2" x1="25.04" y1="120.8" x2="107.06" y2="38.79"></line>
                      <line class="editIcon-2" x1="127.1" y1="58.83" x2="87.01" y2="18.74"></line>
                      <line class="editIcon-2" x1="45.09" y1="140.84" x2="5" y2="100.76"></line>
                    </svg>
                  </a>
                  <div class="delete_control">
                    <button class="delete_prompt icon" title="Admin: Delete Post.">
                      <svg data-name="deleteIcon_Layer 1" class="deleteIcon_Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 109.11 150.56">
                        <path class="deleteIcon-1" d="M595.28,751.18" transform="translate(-541.14 -319.79)"></path>
                        <path class="deleteIcon-2" d="M639.21,370.25a4.75,4.75,0,0,1,4.83,5.61l-12.5,83.89a6.8,6.8,0,0,1-6.5,5.61H565.51a6.8,6.8,0,0,1-6.5-5.61l-12.5-83.89a4.75,4.75,0,0,1,4.83-5.61h87.87Z" transform="translate(-541.14 -319.79)"></path>
                        <path class="deleteIcon-3" d="M546.7,330.69" transform="translate(-541.14 -319.79)"></path>
                        <path class="deleteIcon-3" d="M546.14,343.32l1.3-6.86a5.86,5.86,0,0,1,6.65-4.65L578,335.71a5.86,5.86,0,0,0,6.65-4.65l0.29-1.53a5.86,5.86,0,0,1,6.65-4.65L608,327.55A5.51,5.51,0,0,1,612.5,334l-0.29,1.53a5.51,5.51,0,0,0,4.54,6.48L640.62,346a5.51,5.51,0,0,1,4.54,6.48l-0.25,1.29-1.08,5.69,0,0.12" transform="translate(-541.14 -319.79)"></path>
                        <line class="deleteIcon-3" x1="54.13" y1="72" x2="54.13" y2="124.03"></line>
                        <line class="deleteIcon-3" x1="76.81" y1="72" x2="76.81" y2="124.03"></line>
                        <line class="deleteIcon-3" x1="31.46" y1="72" x2="31.46" y2="124.03"></line>
                        <line class="deleteIcon-3" x1="5.3" y1="23.44" x2="102.97" y2="39.61"></line>
                      </svg>
                    </button>
                    <form action="/posts/<%= each._id %>?_method=DELETE" method="POST" class="delete_form hide">
                      <p>Are you sure you want to delete?</p>
                      <button class="cancel">Cancel</button>
                      <button class="delete">Delete</button>
                    </form>
                  </div>
                  <% if (each.deleted) { %>
                    <a href="/dev/<%= each._id %>/undelete" title="Post is NOT visable to the public, only admins">POST DELETED. Click to un-delete</a>
                  <% } %>
                </div>
              <% } %>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
