<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Posts | Odd-Blog</title>
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="intro_card">
      <div class="intro_text">
        <h1>Hello. My Name is <strong>Robyn Veitch</strong></h1>
        <p>...and I'm a problem solver.</p>
      </div>
      <a class="intro_pic" href="/user/oddert">
        <img src="/img/folio_intro_image.png" alt="A picture of the author." title="Oddert dot jay peg" />
      </a>
    </div>
    <div class="main">
      <% if (user) { %>
        <div class="create_post">
          <a href="/posts/new">Create a new Post +</a>
        </div>
      <% } %>
      <h2 class="title">View all posts</h2>
      <% if (numPosts > 10) { %>
        <div class="scroll_controls">
          <!-- <p>page: <%= page %>, skip: <%= skip %>, numPosts: <%= numPosts %>, estimate: <%= skip + perPage %></p> -->
          <select name="per_page" class="per_page">
            <% if (!quantity || quantity == "10") { %>
              <option value="10" selected>Show 10 Per Page</option>
            <% } else { %>
              <option value="10">Show 10 Per Page</option>
            <% } %>
            <% if (quantity == "25") { %>
              <option value="25" selected>Show 25 Per Page</option>
            <% } else { %>
              <option value="25">Show 25 Per Page</option>
            <% } %>
            <% if (quantity == "50") { %>
              <option value="50" selected>Show 50 Per Page</option>
            <% } else { %>
              <option value="50">Show 50 Per Page</option>
            <% } %>
          </select>
        <!-- <div class="toggle_pagination">
          <label class="visable_label">Single Page View</label>
            <div class="toggle_pagination__switch">
              <label class="switch_label">
                <input type="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div> -->
        </div>
      <% } %>
      <div class="posts experimental">
        <% posts.forEach(post => { %>
          <% include ../partials/post %>
        <% }) %>
      </div>
      <div class="pagination_buttons__container">
        <div class="pagination_buttons">
          <% if (page > 0) { %>
            <a href="/?page=<%= page - 1 %>" class="page_button_back" title="show posts <%= ((page-1) * perPage)+1 %> to <%= (page * perPage) %>"><i class="fas fa-chevron-left"></i> Previous Page</a>
          <% } %>
          <p class="page_position">Showing posts <%= (page * perPage) + 1 %> - <%= (page+1) * perPage > numPosts ? numPosts : (page+1) * perPage %> of <%= numPosts %></p>
          <% if (skip + perPage < numPosts) { %>
            <a href="/?page=<%= page + 1 %>" class="page_button_forward" title="show posts <%= ((page+1) * perPage)+1 %> to <%= (page+2) * perPage %>">Next Page <i class="fas fa-chevron-right"></i></a>
          <% } %>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="/js/index.js"></script>
</html>
