<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/show.css" />
  </head>
  <body>
    <% include ../partials/nav %>

    <% if (/\w/gi.test(data.header_image.src)) { %>
      <figure class="header_image">
        <img src="<%= data.header_image.src %>" alt="<%= data.header_image.src %>" />
        <figcaption><%= data.header_image.caption %></figcaption>
      </figure>
    <% } %>

    <article class="main">

      <h1 class="title"><%= data.title %></h1>
      <div class="details">
        <div class="details_image">
          <img src="<%= data.author.user.profile %>" alt="User profile picture for <%= data.author.displayName %>">
        </div>
        <div class="details_text">
          <p class="details_author">By <a><%= /\w/gi.test(data.author.displayName) ? data.author.displayName : data.author.username %></a></p>
          <p><strong><%= new Date(data.created).toLocaleDateString() %></strong></p>
          <p><em>Read Time: <%= data.word_count < 265 ? '1 min' : Math.ceil(data.word_count/265) > 1 ? Math.ceil(data.word_count/265)+' mins' : Math.ceil(data.word_count/265)+' min' %></em></p>
        </div>
        <% if (user && data.author.id == user._id) { %>
          <div class="delete_control">
            <button class="delete_prompt">Delete</button>
            <form action="/posts/<%= data._id %>?_method=DELETE" method="POST" class="delete_form hide">
              <p>Are you sure you want to delete?</p>
              <button class="cancel">Cancel</button>
              <button class="delete">Delete</button>
            </form>
          </div>
        <% } %>
      </div>
      <h2 class="subtitle"><%= data.subtitle %></h2>
      <% data.inputs.forEach(item => { %>

        <% if (/\w/gi.test(item.subhead)) { %>
          <h3 class="subhead"># <%= item.subhead %></h3>
        <% } %>

        <% if (item.data_type == "paragraph" && /\w/gi.test(item.text[0])) { %>
          <div class="paragraph <%= item.align %>">
            <% item.text.forEach(section => { %>
              <p class="section"><%- section %></p>
            <% }) %>
            <hr />
          </div>
        <% } %>

        <% if (item.data_type == "image" && /\w/gi.test(item.src)) { %>
          <figure class="image <%= item.align %>">
            <img src="<%= item.src %>" alt="<%= item.alt %>">
            <figcaption><%= item.caption %></figcaption>
            <hr />
          </figure>
        <% } %>

      <% }) %>
    </article>
    <footer>
      <div class="author_bio">
        <% if (/\w/gi.test(data.author.user.primary_name) && data.author.user.primary_name !== undefined) { %>
          <h3><%= data.author.user.primary_name ? data.author.user.primary_name : '' %> <%= data.author.user.other_names.length > 0 ? data.author.user.other_names.join(' ') + ' ' : '' %><%= data.author.user.secondary_name %></h3>
        <% } %>
        <h3><%= data.author.user.username %></h3>
      </div>
    </footer>
  </body>
  <!-- <script type="text/javascript" src="/js/name.js"></script> -->
  <script type="text/javascript" src="/js/index.js"></script>
</html>
