<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= data.title %> | Odd-Blog</title>
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/show.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/faveicon.png">
  </head>
  <body>
    <% include ../partials/nav %>

    <% if (/\w/gi.test(data.header_image.src)) { %>
      <figure class="header_image">
        <img src="<%= data.header_image.src %>" alt="<%= data.header_image.src %>" />
        <figcaption><%= data.header_image.caption %></figcaption>
      </figure>
    <% } %>

    <article class="main post_show">

      <h1 class="title"><%= data.title %></h1>
      <h2 class="subtitle"><%= data.subtitle %></h2>
      <div class="details">
        <div class="details_wrapper">
          <div class="details_image">
            <a href="/user/<%= data.author.username %>">
              <figure>
                <img src="<%= data.author.user.profile %>" alt="<%= data.author.user.username %>'s Profile Image'">
              </figure>
            </a>
          </div>
          <div class="details_text">
            <p class="details_author">By <a href="/user/<%= data.author.username %>"><strong><%= /\w/gi.test(data.author.displayName) ? data.author.displayName : data.author.username %></strong></a></p>
            <p><strong><%= new Date(data.created).toLocaleDateString() %></strong></p>
            <p><em>Read Time: <%= data.word_count < 265 ? '1 min' : Math.ceil(data.word_count/265) > 1 ? Math.ceil(data.word_count/265)+' mins' : Math.ceil(data.word_count/265)+' min' %></em></p>
          </div>
          <% if (user && data.author.id == user._id) { %>
            <a href="/posts/<%= data._id %>/edit">Edit</a>
            <div class="delete_control">
              <button class="delete_prompt">Delete</button>
              <form action="/posts/<%= data._id %>?_method=DELETE" method="POST" class="delete_form hide">
                <p>Are you sure you want to delete?</p>
                <button class="cancel">Cancel</button>
                <button class="delete">Delete</button>
              </form>
            </div>
          <% } %>
        </div>
      </div>
      <% data.inputs.forEach(item => { %>

        <% if (/\w/gi.test(item.subhead)) { %>
          <h3 class="subhead"># <%= item.subhead %></h3>
        <% } %>

        <% if (item.data_type == "paragraph" && /\w/gi.test(item.text[0])) { %>
          <div class="paragraph <%= item.align %>">
            <% item.text.forEach(section => { %>
              <p class="section"><%- section %></p>
            <% }) %>
            <hr />
          </div>
        <% } %>

        <% if (item.data_type == "image" && /\w/gi.test(item.src)) { %>
          <figure class="image <%= item.align %>">
            <img src="<%= item.src %>" alt="<%= item.alt %>">
            <figcaption><%= item.caption %></figcaption>
            <hr />
          </figure>
        <% } %>

        <% if (item.data_type == "quote" && /\w/gi.test(item.text)) { %>
          <blockquote cite="<%= item.cite %>" class="quote <%= item.align %>">
            <p><%= item.text %></p>
            <footer>- <%= item.author %></footer>
          </blockquote>
        <% } %>

      <% }) %>

      <div class="article_social">
        <a href="https://twitter.com/intent/tweet?text=<%= location %>post/<%= data._id %>/ <%= data.title %> -By <%= data.author.displayName %>" class="social twitter" title="Share on Twitter"><i class="fab fa-3x fa-twitter"></i></a>
        <a href="https://www.facebook.com/sharer.php?s=100&p[title]=<%= data.title %>&p[url]=<%= location %>post/<%= data._id %>/&p[summary]=<%= data.title %> -By <%= data.displayName %>&p[images][0]=<%= data.header_image.onsite ? location : '' %><%= data.header_image.src %>" class="social facebook" title="Share on Facebook"><i class="fab fa-3x fa-facebook"></i></a>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=<%= location %>post/<%= data._id %>&title=<%= data.title %>&summary=<%= data.subtitle %>&source=LinkedIn" class="social instagram" title="Share on Instagram"><i class="fab fa-3x fa-instagram"></i></a>
      </div>

    </article>
    <footer>
      <div class="author_bio">
      <!-- <a href="/user/<%= data.author.user.username %>"> -->
      <!-- </a> -->
        <figure class="author_bio__profile">
            <img src="<%= data.author.user.profile %>" alt="Profile image for <%= data.author.user.username %>" />
        </figure>
        <div class="author_bio_main">
          <div class="author_bio__names">
            <% if (/\w/gi.test(data.author.user.primary_name) && data.author.user.primary_name !== undefined) { %>
              <h3><a href="/user/<%= data.author.user.username %>"><%= data.author.user.primary_name ? data.author.user.primary_name : '' %> <%= data.author.user.other_names.length > 0 ? data.author.user.other_names.join(' ') + ' ' : '' %><%= data.author.user.secondary_name %></a></h3>
            <% } %>
            <h4><em><a href="/user/<%= data.author.user.username %>">@ <%= data.author.user.username %></a></em></h4>
          </div>
          <div class="author_bio__outward">
            <p><%= data.author.user.bio_forward_facing %></p>
          </div>
        </div>
        <div class="author_bio__social">
          <a href="#" class="social twitter"><i class="fab fa-2x fa-twitter"></i></a>
          <a href="#" class="social facebook"><i class="fab fa-2x fa-facebook"></i></a>
          <a href="#" class="social instagram"><i class="fab fa-2x fa-instagram"></i></a>
        </div>
      </div>

    </footer>
  </body>
  <!-- <script type="text/javascript" src="/js/name.js"></script> -->
  <script type="text/javascript" src="/js/index.js"></script>
</html>
